* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 30px;
    color: rgb(16, 17, 17);
}



body {
    background-color:#F5F5F5;
}

/* Navbar Styles */
.navbar {
    background-color: #2ecc71;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}


img {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    flex-direction: row-reverse;
    padding-right: 10px;
}

.list button{
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color:blanchedalmond;
}

.list li {
    font-size: 25px;
    color: rgb(15, 15, 15);
    font-weight: bold;
}

@media(max-width:768px){
    .list{
        font-size: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .list button{
        padding: 10px;
    }

}


li:hover {
    color: rgba(217, 233, 219, 0.788);
}

/* Intro Section */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 30px;
}

#intro{
    margin-top: 70px;
}

.img1 {
    filter: drop-shadow(5px 5px 10px);
    padding-right: 20px;
}

.intro img {
    float: right;
}

.social-media {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

/* Media Queries for Responsiveness */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 5px;
        
    }

    .about h1 {
        padding: 5px;
        text-align: center;
    }

    .list {
        justify-items: center;

    }

    .intro {
        flex-direction: column;
        align-items: center;
    }

    .intro img {
        margin-top: 20px;
    }

    .social-media {
        justify-content: center;
        margin-bottom: 10px;
    }

    .img1 {
        border-radius: 50px;
    }

    .about {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
    }

    .about img {
        margin-top: 20px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 26px;
        align-items: center;
        padding: 20px;
        background-color: #000000;
        color: white;
        font-size: 20px;

    }

    .footer textarea {
        margin: 0px;

    }

    .brands {
        gap: 20px;
    }

    #card-img {
        width: 330px;
    }
   

    .about {
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }
  

}

/* Button Styles */
.btn {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 9px 13px;
    margin-top: 60px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    width: 150px;
    gap: 10px;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.btn:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

/* Work Section */
.work {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



/* About Me Section */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
#about{
    margin-top:50px;
}

.about img {
    filter: drop-shadow(5px 5px 10px);
}

.education{
    padding-left: 10px;
    padding-top: 20px;
}

/* Button 64 */
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }

    h6 {
        font-size: 16px;
    }

    .about {
        padding: 10px;
        align-items: center;

    }

    .navbar{
        height: 80px;
    }
}


/* Footer Section */
.footer {
    display: flex;
    justify-content: center;
    gap: 26px;
    align-items: center;
    padding: 35px;
    background-color: #000000;
    /* button */
    color: white;
}

/* work start */

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 30px;


}

.projects {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-bottom: 60px;
    padding-top: 40px;


}
@media(min-width:600px){
    .projects{
        display:flex;
        flex-direction: row;

    }

}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-top: 20px;

}

#card-img {
    padding: 5px 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 10px 15px;
}



/* form */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 15px;
}

form input,
form textarea {
    padding: 13px;
    margin-top: -40px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 15px;
    width: 100%;
}
#form{
    margin-top: 150px;
}


.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }

    form input,
    form textarea {
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
        width: 150%;
    }


}

.light-mode {  
    background-color: #ffffff;  
    color: #000000;  
}  

.dark-mode {  
    background-color: #121212;  
    color: #ffffff;  
}  